.acc-wrapper{
    text-align: center;
    margin: 35px 25rem 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acc-wrapper button{
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color:rgba(172, 172, 22, 0.993);
    color: #fff;
    font-weight: bold;
}
.accordion{
    width: 650px;
}

.item{
    border: 1px solid;
    border-radius: 5px;
    margin-bottom:20px;
    background-color: rgba(172, 172, 22, 0.993);
}

.title{
    padding: 10px 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor:pointer;
}

.content{
    padding: 0 10px 15px;
    height: auto;
    color: #ffffff;
    font-size: 15px;
}